<nav class="grey darken-1" role="navigation">
  <div class="nav-wrapper container"><!-- <a id="logo-container" href="#" class="brand-logo">Logo</a> -->
    <ul class="right hide-on-med-and-down">
      <li><a href="#/dashboard">TRIPS</a></li>
      <li><a href="#/user">USERS</a></li>
      <li><a href="#/vendors">VENDORS</a></li>
      <li><a href="#/recharges">RECHARGES</a></li>
      <li><a href="#/vehicles">VEHICLES</a></li>
      <li><a data-ng-click="logout()">LOGOUT</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#/dashboard">TRIPS</a></li>
      <li><a href="#/user">USERS</a></li>
      <li><a href="#/vendors">VENDORS</a></li>
      <li><a href="#/recharges">RECHARGES</a></li>
      <li><a href="#/vehicles">VEHICLES</a></li>
      <li><a data-ng-click="logout()">LOGOUT</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
  </div>
</nav>
